    <div class="widget_descarga grid_10" data-buque="Tintomara" data-tonelaje="00000,00" data-toneladas-descargas="0">
      <span class="cerrar"> </span>
      <h2 class="underlined margen_b_20 down">Tintomara: <span class="rojo">00.000,00 tons.</span></h2>
      <div class="margen_b_20">
        <div class="margen_b_10 grid_12 alpha">
          <p class="caption tons">Tipo de material</p>
          <p class="destacado">Bauxita</p>
        </div>
        <div class="margen_b_10 grid_12 omega">
          <p class="caption tons">Proveedor</p>
          <p class="destacado">Cementos Argos</p>
        </div>
        <div class="clearfix"></div>
        <div class="grid_12 alpha">
          <p class="caption tons">Origen</p>
          <p class="destacado">Egipto</p>
        </div>
        <div class="grid_12 omega">
          <p class="caption tons">ETA</p>
          <p class="destacado">19/Sep./2011</p>
        </div>
        <div class="clearfix"></div>
        <hr />
      </div>
      <form>
        <div class="grid_12 margen_b_10">
          <label for="reportar_atraque"><strong>Atraque</strong></label>
          <input type="button" class="blue reportar_atraque pequenio" name="reportar_atraque" value="Reportar atraque" data-buque="11" />
        </div>
        <div class="grid_12 margen_b_10">
          <label for="inicio_descarga"><strong>Inicio de descarga</strong></label>
          <input name="fecha_inicio_descarga" type="date" size="8" placeholder="31/12/2011" class="margen_b_10">
          <input name="hora_inicio_descarga" type="time" size="4" placeholder="00:00" class="margen_b_10">
        </div>
        <div class="clearfix"></div>
        <div class="grid_12 margen_b_10">
          <label for="fin_descarga"><strong>Fin de descarga</strong></label>
          <input name="fecha_fin_descarga" type="date" size="8" placeholder="31/12/2011" class="margen_b_10">
          <input name="hora_fin_descarga" type="time" size="4" placeholder="00:00" class="margen_b_10">
        </div>
        <div class="grid_12 margen_b_10">
          <label for="fin_atraque"><strong>Desatraque</strong></label>
          <input name="fecha_fin_atraque" type="date" size="8" placeholder="31/12/2011" class="margen_b_10">
          <input name="hora_fin_atraque" type="time" size="4" placeholder="00:00" class="margen_b_10">
        </div>
        <div class="derecha wrapper clearfix">
          <input type="submit" class="green pequenio" value="Enviar" /> 
        </div>
      </form>
      <h3 class="pequenio underlined down margen_b_20">Descarga de gabarras</h3>
      <div class="margen_b_20  prefix_1">
        <div class="margen_b_10 grid_12 alpha">
          <p class="caption tons">Gabarra</p>
          <p class="destacado">ACBL-213</p>
        </div>
        <div class="margen_b_10 grid_12 omega">
          <p class="caption tons">Tonelaje</p>
          <p class="rojo destacado">1.731 tons</p>
        </div>
        <div class="clearfix"></div>
        <div class="grid_12 alpha">
          <p class="caption tons">Atraque y desatraque</p>
          <p class="destacado">00:00 - 00:00</p>
        </div>
        <div class="grid_12 omega">
          <p class="caption tons">Operaciones de descarga</p>
          <p class="destacado">00:00 - 00:00</p>
        </div>
        <div class="clearfix"></div>
        <hr />
        <h4 class="down margen_b_20">Reportar gabarra</h4>
        <div class="margen_b_20">
          <form class="acaecimiento">
            <div class="grid_12 margen_b_10">
              <label for="cod_gabarra"><strong>Gabarra</strong></label>
              <select name="cod_gabarra"> 
                <option value="ACBL-201">ACBL-201</option>
                <option value="ACBL-202">ACBL-202</option>
                <option value="ACBL-203">ACBL-203</option>
              </select>
            </div>
            <div class="grid_12 margen_b_10">
              <label for="tonelaje"><strong>Tonelaje</strong></label>
              <input name="tonelaje" type="number" size="18" pattern="(^(([1-2]{1})).)?(\d{1}\d{1}\d{1})$" placeholder="0.000,00" class="margen_b_10">
            </div>
            <div class="clearfix"></div>
            <div class="grid_6 margen_b_10">
              <label for="tonelaje">Atraque de gabarra</strong></label>
              <input name="hora_atraque_gabarra" type="time" size="4" pattern="^(([0-2]{1}[0-3]{1})|([0-1]{1}\d{1})|(\d{1})):(([0-5]{1}\d{1}))$" placeholder="00:00" class="margen_b_10">
            </div>
            <div class="grid_6 margen_b_10">
              <label for="tonelaje">Inicio de descarga</label>
              <input name="hora_inicio_gabarra" type="time" size="4" pattern="^(([0-2]{1}[0-3]{1})|([0-1]{1}\d{1})|(\d{1})):(([0-5]{1}\d{1}))$" placeholder="00:00" class="margen_b_10">
            </div>
            <div class="grid_6 margen_b_10">
              <label for="tonelaje">Fin de descarga</label>
              <input name="hora_fin_gabarra" type="time" size="4" pattern="^(([0-2]{1}[0-3]{1})|([0-1]{1}\d{1})|(\d{1})):(([0-5]{1}\d{1}))$" placeholder="00:00" class="margen_b_10">
            </div>
            <div class="grid_6 margen_b_10">
              <label for="tonelaje">Desastraque de gabarra</label>
              <input name="hora_atraque_gabarra" type="time" size="4" pattern="^(([0-2]{1}[0-3]{1})|([0-1]{1}\d{1})|(\d{1})):(([0-5]{1}\d{1}))$" placeholder="00:00" class="margen_b_10">
            </div>
            <input type="submit" class="clearfix green pequenio" value="Enviar" />
          </form>
        </div>
      </div>
      <h3 class="pequenio underlined down margen_b_20">Observaciones y acaecimientos</h3>
      <div class="prefix_1">
        <div class="margen_b_20">
          <p class="margen_b_10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tellus tellus, auctor eu laoreet at, rutrum et purus. Integer id tortor non libero volutpat tempus. </p>
          <small><span class="rojo">21:30 - 21:32</span>  |  Carlos Enrique Betancourt Carrero</small>
          <hr />
        </div>
        <h4 class="down margen_b_10">Reportar acaecimiento</h4>
        <div>
          <form class="acaecimiento">
            <div class="grid_12 margen_b_20 alpha">
              <label for="inicio_acaecimiento"><strong>Inicio de acaecimiento</strong></label>
              <input name="fecha_inicio_acaecimiento" type="date" size="8" placeholder="31/12/2011">
              <input name="hora_inicio_acaecimiento" type="time" size="4" placeholder="00:00">
            </div>
            <div class="grid_12 margen_b_20 omega">
              <label for="fin_acaecimiento"><strong>Fin de acaecimiento</strong></label>
              <input name="fecha_fin_acaecimiento" type="date" size="8" placeholder="31/12/2011">
              <input name="hora_fin_acaecimiento" type="time" size="4" placeholder="00:00">
            </div>
            <div class="clearfix"></div>
            <label for="observacion_acaecimiento"><strong>Observaciones</strong></label>
            <textarea name="observacion_acaecimiento" cols="" rows="" class="margen_b_10"></textarea>
            <input type="submit" class="green pequenio" value="Enviar" />
          </form>
        </div>
      </div>
    </div>
