  <% if user_signed_in? %>
    <% titulo 'Eventos' %>    
    <h1 class="hasIcono eventos">
      Eventos
      <ul class="options">
        <li class="filtro">Filtrar</li>
        <li class="imprimir">Imprimir</li>
      </ul>
    </h1>
    <article class="grid_15">
      <div class="timeline">
        <div class="margen_b_30">
          <p class="margen_b_10">You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world once and got a taste for murder. After the avalanche, it took us a week to climb out. Now, I don't know exactly when we turned on each other, but I know that seven of us survived the slide... and only five made it out. Now we took an oath, that I'm breaking now. We said we'd say it was the snow that killed the other two, but it wasn't. Nature is lethal but it doesn't hold a candle to man.</p>
          <p class="pequenio derecha">Alerta emitida por Socialum - 30/May./2011 | 15:58</p>
          <hr />
        </div>
        <div class="margen_t_30 margen_b_30">
          <p class="margen_b_10">My money's in that office, right? If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there. Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too. Hey, look at me when I'm talking to you, motherfucker. You listen: we go in there, and that nigga Winston or anybody else is in there, you the first motherfucker to get shot. You understand?</p>
          <p class="pequenio derecha">Alerta emitida por Socialum - 30/May./2011 | 15:58</p>
          <hr />
        </div>
        <div class="margen_t_30 margen_b_30">
          <p class="margen_b_10">Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that shit. </p>
          <p class="pequenio derecha">Alerta emitida por Socialum - 30/May./2011 | 15:58</p>
          <hr />
        </div>
        <div class="margen_t_30 margen_b_30">
          <p class="margen_b_10">Normally, both your asses would be dead as fucking fried chicken, but you happen to pull this shit while I'm in a transitional period so I don't wanna kill you, I wanna help you. But I can't give you this case, it don't belong to me. Besides, I've already been through too much shit this morning over this case to hand it over to your dumb ass.</p>
          <p class="pequenio derecha">Alerta emitida por Socialum - 30/May./2011 | 15:58</p>
          <hr />
        </div>
        <div class="margen_t_30 margen_b_30">
          <p class="margen_b_10">The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children. And I will strike down upon thee with great vengeance and furious anger those who would attempt to poison and destroy My brothers. And you will know My name is the Lord when I lay My vengeance upon thee.</p>
          <p class="pequenio derecha">Alerta emitida por Socialum - 30/May./2011 | 15:58</p>
          <hr />
        </div>
      </div>
      <div class="centro margen_b_20 margen_t_20">
        <input type="button" name="submit" value="Cargar más">
      </div>
    </article>
    <aside class="grid_9">
      <h3 class="pequenio">Descargas del día - 00/00/0000 <small>Hasta las 00:00:00</small></h3>
      <div class="margen_b_20"></div>
      <h3 class="pequenio">Descargas de la semana <small>Hasta hoy</small></h3>
      <div class="margen_b_20"></div>
      <h3 class="pequenio">Gabarras en cola <small>Al día de hoy</small></h3>
      <div class="margen_b_20"></div>
      <h3 class="pequenio">Dosif. de polímeros del día <small>Hasta las 00:00:00</small></h3>
      <div class="margen_b_20"></div>
      <h3 class="pequenio">Dosif. de polímeros de la semana <small>Hasta hoy</small></h3>
      <div class="margen_b_20"></div>
    </aside>
    <div class="clearfix"></div>
  <% else %>
    <% titulo 'Overview' %>
    <h1 class="hasIcono overview">
      Overview
      <small>Al día de hoy (<%= Date.today.to_s(:fecha) %>)</small>
      <ul class="options">
        <li class="filtro">Filtrar</li>
        <li class="imprimir">Imprimir</li>
      </ul>
    </h1>
    <article class="grid_18">
      <div class="grid_12 alpha margen_b_20">
        <h3 class="pequenio">bauxita descargada - ago. 2011</h3>
      </div>
      <div class="grid_12 omega margen_b_20">
        <h3 class="pequenio">bauxita descargada - temporada 2010</h3>
      </div>
      <div class="clearfix"></div>
      <div class="grid_12 alpha margen_b_20">
        <h3 class="pequenio">Disponibilidad del mes - sep. 2010</h3>
      </div>
      <div class="grid_12 omega margen_b_20">
        <h3 class="pequenio">Gabarras en cola</h3>
      </div>
      <div class="clearfix"></div>
      <div class="grid_12 alpha margen_b_20">
        <h3 class="pequenio">Dosificación de Polimeros (<span>grs./ton</span>) - Muelle</h3>
      </div>
      <div class="grid_12 omega margen_b_20">
        <h3 class="pequenio">Dosificación de Polimeros (<span>grs./ton</span>) - Módulo 9</h3>
      </div>
      <div class="clearfix"></div>
      <div class="grid_12 alpha margen_b_20">
        <h3 class="pequenio">Correa "h"</h3>
      </div>
      <div class="grid_12 omega margen_b_20">
        <h3 class="pequenio">Envio Al<sub>2</sub>O<sub>2</sub> hacia Alcasa</h3>
      </div>
      <div class="clearfix"></div>
      <div class="grid_8 alpha margen_b_20">
        <h3 class="pequenio">Altura de Al<sub>2</sub>O<sub>2</sub> en silo - Este</h3>
      </div>
      <div class="grid_8 omega margen_b_20">
        <h3 class="pequenio">Altura de Al<sub>2</sub>O<sub>2</sub> en silo - Centro</h3>
      </div>
      <div class="grid_8 omega margen_b_20">
        <h3 class="pequenio">Altura de Al<sub>2</sub>O<sub>2</sub> en silo - Oeste</h3>
      </div>
      <div class="clearfix"></div>
    </article>
    <aside class="grid_6">
      <h2 class="up">Bauxita en patios</h2>
      <div>
        <h3 class="pequenio">Indoor</h3>
        <p class="grid_16 derecha destacado fuccia alpha">242.302,87</p>
        <div class="grid_8 caption omega">
          <p class="tons">toneladas</p>
          <p>Disp. 16 días</p>
        </div>
        <div class="clearfix"></div>
        <h3 class="pequenio">outdoor</h3>
        <p class="grid_16 derecha destacado azul alpha">113.785,93</p>
        <div class="grid_8 caption omega">
          <p class="tons">toneladas</p>
          <p>Disp. 8 días</p>
        </div>
        <div class="clearfix"></div>
        <h3 class="pequenio">PA-3</h3>
        <p class="grid_16 derecha destacado verde alpha">537.232,00</p>
        <div class="grid_8 caption omega">
          <p class="tons">toneladas</p>
          <p>Disp. 36 días</p>
        </div>
        <div class="clearfix"></div>
        <h3 class="pequenio">PA-7</h3>
        <p class="grid_16 derecha destacado dorado alpha">100.000,00</p>
        <div class="grid_8 caption omega">
          <p class="tons">toneladas</p>
          <p>Disp. 7 días</p>
        </div>
        <div class="clearfix"></div>
        <h3 class="pequenio">TR72-1</h3>
        <p class="grid_16 derecha destacado morado alpha">10.000,00</p>
        <div class="grid_8 caption omega">
          <p class="tons">toneladas</p>
          <p>Disp. 1 día</p>
        </div>
        <div class="clearfix"></div>
        <h3 class="rojo">Total</h3>
        <p class="grid_16 derecha destacado rojo alpha">1.003.320,80</p>
        <div class="grid_8 caption omega">
          <p class="tons">toneladas</p>
          <p>Disp. 67 días</p>
        </div>
        <div class="clearfix fin"></div>
      </div>
    </aside>
    <div class="clearfix"></div>
  <% end %>
