        <tr class="nueva_locacion">
          <td class="estado">
            <% selectEstado %>
          </td>
          <td>
            <%= text_field_tag :nombre_locacion, nil, :placeholder => 'Nombre de locacion' %>
          </td>
          <td colspan="2">
            <%= link_to image_tag('cancel_16.png', :alt => 'Cancelar', :title => 'Cancelar'), '#delete_new_locacion' %>
          </td>
        </tr>
