          <td>
            <% selectEstado %>
          </td>
          <td>
            <%= text_field_tag :nombre_locacion, nil, :placeholder => 'Nombre de locacion' %>
          </td>
          <td colspan="2">
            <%= link_to image_tag('save_16.png', :alt => 'Guardar', :title => 'Guardar'), '#save_edit_locacion' %>
          </td>
