<% titulo 'Novedades y acaecimientos de procesos' %>

<h1 class="hasIcono">Novedades y acaecimientos de procesos</h1>
<article class="grid_24">
  <% @novedades.each do |novedad| %>
  <% end %>
</article>