/**
*
* Estilos base de interfaz: formato de fuentes, colores, posiciones, 
* estilos de plugins (Tipsy, al 04/10/11), entre otros.
* 
* Este grupo de selectores ID, clases y estilos se aplicarán a todos los proyectos.
* Los estilos con propiedades !importamt significan que no pueden ser sobreescritos por otro estilo.
* Usar y modificar con responsabilidad.
*
* Se recomienda minimizar este documento para as´i disminuir el impacto sobre el ancho de banda
* y consumo de memoria en el browser. CSS Min: http://tools.w3clubs.com/cssmin/
*
* ================================================================================================
* * * * * * * * * * * * * With a great power comes a great responsability. * * * * * * * * * * * *
* ================================================================================================
*
* @project  Todos
* @version  0.2.8
* @package  html5-css
* @file     style.css
* @author   Carlos Betancourt
* @cssdoc   version 1.0-pre
* @license  La adeucada para Bauxilum
* @css-for  IE 7+, Safari 3+, Firefox 4+, Opera 11+, Chrome
*
**/

/************************************************************************************************
* Estilos por defecto.
* Se aplcian por defecto a los elementos especificados. 
*
* @section  default-styles
*
*/

/** Cuerpo HTML */
body {
  background:url("../images/sa_body_bg.jpg") !important;
  overflow-x:hidden !important;
}

/** Titulos */
h1, h2, h3, h4, h5, h6  {
  font-weight:normal;
}
h1 {
  font-size:2.308em;
  line-height:1;
  color:#590b19;
  padding:0 0 9px 0;
  margin-top:10px;
  margin-bottom:20px;
  border-bottom:1px solid #dfe5e6;
}
h2 {
  font-size:1.846em;
  color:#394a59;
  margin-bottom:10px;
}
h3 {
  font-size:1.385em;
  line-height:1;
  text-transform:uppercase; /* Texto a mayúsculas */
  color:#1a2732;
  padding-bottom:5px;
  margin-bottom:5px;
  border-bottom:1px solid #a5aeb6;
}
h4 {
  font-size:1.231em;
  line-height:1.25;
  margin-bottom:1.25em;
}
h5 {
  font-size:1.077em;
  font-weight:bold;
  margin-bottom:1.5em;
}
h6 {
  font-size:1em;
  font-weight:bold;
}
h1 small, h2 small, h3 small, h4 small, h5 small {
  color:#8996a0;
} 
h1 small {
  font-size:.6em;
}
h3 span {
  text-transform:lowercase; /* Texto a minúsculas */
} 

/** Listas de definición */
dl {
  margin-bottom:20px;
}
dl dt {
  font-weight:bold;
}
dd {
  margin-left:10px;
}

/** Placeholders */
::-webkit-input-placeholder {
  color:#ccc !important;
}
:-moz-placeholder {
  color:#ccc !important;
}

/************************************************************************************************
* Clases generales.
*
* @section  default-classes
*
*/

/** Clases para titulos con iconos */
h1.hasIcono {
  padding-left:30px;
  background-repeat:no-repeat;
  background-position:left top;
}
/** Icono de login */
h1.login {
  background-image:url("../images/lock_24.png") !important;
  color:#152f40;
}
/** Icono del panel de configuración */
h1.panel_conf {
  background-image:url("../images/tools_24.png") !important;
}
/** Subrayar titulo H2 */
h2.underlined {
  border-bottom:1px solid #8996A0;
}
h2.underlined:hover {
  border-bottom:1px solid #590b19;
}

/** Clases aplicables a cualquier elemento de texto */
.destacado {
  font-weight:bold;
  font-size:1.475em;
}  
.pequenio {
  font-size:.9em;
}
.grande {
  font-size:1.2em;
}
.fucsia {
  color:#ac1a2f !important;
}
.azul {
  color:#0e8cbf !important;
}
.verde {
  color:#0e7320 !important;
}
.dorado {
  color:#807b1c !important;
}
.morado {
  color:#740980 !important;
}
.rojo {
  color:#cc0000 !important;
}
.naranja {
  color:#F07B05 !important;
}
.amarillo {
  color:#FFB60F !important;
}
.gris {
  color:#8C8D8E !important;
}	
.caption {
  font-size:0.692em;
}
.tons {
  text-transform:uppercase;
  color:#8996a0;
}

/** Flechas */
.down, .up {
  cursor:pointer;
  background-repeat:no-repeat;
  background-position:right center;
}
.down { /* Hacia abajo */
  padding-right:10px;
  background-image:url("../images/sa_aside_icons_collapse_down.png") !important;
}
.up { /* Hacia arriba */
  padding-right:10px;
   background-image:url("../images/sa_aside_icons_collapse_up.png") !important;
}
.down:hover, .up:hover {
  color:#590b19 !important;
}
.down+* {
  display:none;
}

/** Clase para ocultar un elemento */
.oculto {
  display:none
}

.ir {
  display:block;
  text-indent:-999em;
  overflow:hidden;
  background-repeat:no-repeat;
  text-align:left;
  direction:ltr;
}
.clearfix:before, .clearfix:after {
  content:"\0020";
  display:block;
  height:0;
  overflow:hidden;
}
.clearfix:after {
  clear:both;
}
.clearfix {
  zoom:1;
}

/************************************************************************************************
* Barra superior
*
* @section  top_bar
*
*/

/** Formato de color de texto y links */
#top_bar, header, #top_bar a {
  color:#fff !important;
}

  /** Formato de barra */
	#top_bar {
	  height:15px !important;
	  padding-top:4px;
	  font-size:.692em;
	  background-color:#400812 !important;
	  border-bottom:1px solid #af292e !important;
	}
	#top_bar p {
	  margin-bottom:0;
	}
	#top_bar span {
	  padding-left:15px;
	}
	#top_bar a:link, #top_bar a:visited {
	  text-decoration:underline !important;
	}
	#top_bar a:hover, #top_bar a:active {
	  color:#af292e !important;
	}

  /** Clases para configuracion, ayuda, nombre de persona y logout */
  .configuracion, .ayuda, .persona, .logout {
    background-repeat:no-repeat;
    background-position:left top;
  }
	.configuracion {
	  background-image:url("../images/sa_icons_conf.png") !important;
	}
	.ayuda {
	  background-image:url("../images/sa_icons_ayuda.png") !important;
	}
	.persona {
	  background-image:url("../images/sa_icons_person.png") !important;
	}
	.logout {
	  background-image:url("../images/sa_icons_logout.png") !important;
	}

/************************************************************************************************
* Header de página
*
* @section  header
*
*/

/** Imagen de fondo */
header {
  background:url("../images/sa_header_bg.jpg") repeat-x !important;
}

/** Titulo */
header h1 {
  font-size:3.692em;
  padding:0;
  margin-bottom:0;
  border:0;
  line-height:0;
}

/** Lista nor ordenada para logos corporativos */
header ul {
  list-style:none;
  margin-top:11px;
  margin-left:0;
  float:right;
}
header li {
  display:inline;
}

/************************************************************************************************
* Selectores, propiedades y estilos para la caja de login
*
* @section  login
*
*/

#login {
  position:absolute; /* Posicion absoluta con respecto a su padre */
  top:50%; /* El margen superior se encontrará a 50% de elemento padre */
  left:50%; /* El margen izquierdo se encontrará a 50% de elemento padre */
  height:328px;
  width:408px;
  margin-top:-175px; /* Se centra el elemento en la página (mitad negativa del tamaño de la caja) */
  margin-left:-205px; 
  background-color:#fff;
  border:1px solid #a5aeb6;
  -moz-border-radius:5px; /* Se redondea las esquinas */
  -webkit-border-radius:5px;
  border-radius:5px;
  -moz-background-clip:padding; /* Se 'enmascara' el fondo de la caja para que no sobresalga en las esquinas */
  -webkit-background-clip:padding-box;
  background-clip:padding-box;
}

  /** Header de login */
	#login header {
	  margin-bottom:20px;
	  border-bottom:1px solid #af292e;
	  -webkit-border-top-left-radius:3px;
	  -webkit-border-top-right-radius:3px;
	  -moz-border-radius-topleft:3px;
	  -moz-border-radius-topright:3px;
	  border-top-left-radius:3px;
	  border-top-right-radius:3px;
	}

  /** Logo */
	#login .logo {
	  padding-top:2px;
	  padding-bottom:0;
	  background-position:center top;
	}

  /** Titulo */
	#login h1 {
	  font-size:1.3em;
	  margin-left:10px;
	  margin-right:10px;
	}

  /** Formulario */
	#login form {
	  margin:0 10px;
	}
	#login li {
	  margin-bottom:15px;
	}
	#login label {
	  display:inline-block;
	  width:80px;
	  text-align:right;
	  margin-right:10px;
	}
	#login input[type="checkbox"] {
	  margin-left:93px;
	  margin-right:5px;
	}
	#login input[type="checkbox"]+label {
	  width:auto;
	  text-align:left;
	  display:inline;
	}

/************************************************************************************************
* Selectores, propiedades y estilos para el menu de navegación
*
* @section  menu
*
*/

#menu {
  height:28px;
  color:#a5aeb6 !important;
  font-size:.923em !important;
  margin-bottom:20px;
  background-color:#152f40 !important;
  border-top:1px solid #394a59;
  border-bottom:1px solid #394a59;
  -moz-box-shadow:0 2px 3px #b3b3b3;
  -webkit-box-shadow:0 2px 3px #b3b3b3;
  box-shadow:0 2px 3px #b3b3b3; /* Sombra de caja */
}

  /** Lista no ordenada de elementos */
	#menu ul {
	  list-style:none !important;
	  margin-top:1px;
	  position:relative;
	}
	#menu li {
	  display:inline-block !important;
	  margin:0 5px;
	  padding:7px 5px 7px 19px;
	  cursor:pointer;
	  position:relative;
	  float:left;
    background-position:left center
	}

  /** Formato para links */
	#menu a:link, #menu a:visited {
	  color:#a5aeb6 !important;
	  text-decoration:none;
	}
	#menu a:hover {
	  color:#152f40 !important;
	}

  #menu li, #menu li:hover {
    background-repeat:no-repeat;
  }

  #menu li:hover:not(.activo), #menu .activo {
    background-color:#dfe5e6 !important;
  }

  /** Formato para cuando el cursor este sobre el elemento 'li' y que este no posea la clase activo */
	#menu li:hover:not(.activo) {
	  padding:6px 5px 3px 23px;
	  margin:2px 5px 0;
    background-position:5px center;
	  -moz-border-radius:3px;
	  -webkit-border-radius:3px;
	  border-radius:3px;
	  -moz-background-clip:padding;
	  -webkit-background-clip:padding-box;
	  background-clip:padding-box;
	  box-shadow:0 2px 3px rgba(0, 0, 0, .25) !important;
	}

  /** Formato para cuando el cursor este sobre el elemento 'li' y su hijo 'a', y que este no posea la clase activo */
	#menu li:hover a, #menu li:hover:not(.activo) {
	  color:#152f40 !important;
	}

  /** Estilos por defecto para flecha */
	#menu .flecha {
	  display:none;
	}
		
  /** Formato para elemento con clase 'activo' (página actual) */
	#menu .activo, #menu .activo:hover, #menu .activo a:link, #menu .activo a:visited {
	  color:#7a2426 !important;
	}
	#menu .activo {
	  margin-top:0;
	  margin:-3px 5px -4px;
	  padding:7px 10px 9px 29px;
	  font-size:1.077em;
	  font-weight:bold;
	  text-shadow:0 1px 0 #fff;
    background-position:10px center;
	  border:1px solid #a5aeb6 !important;
	  -moz-border-radius:3px;
	  -webkit-border-radius:3px;
	  border-radius:3px;
	  -moz-background-clip:padding;
	  -webkit-background-clip:padding-box;
	  background-clip:padding-box;
	  position:relative;
	}
	#menu .activo:hover {
	  text-decoration:underline;
	}
	
  /** Formato para elemento con clase 'flecha', y qu esten precedidos por 'activo' */
	#menu .activo .flecha {
	  display:inline;
	  padding:0;
	  position:absolute;
	  bottom:-7px;
	  left:46%;
	  border-left:7px solid transparent;
	  border-right:7px solid transparent;
	  border-top:7px solid #dfe5e6 !important
	}

  /** 
  * Formato para cuando el cursor posea la clase 'drop', aplicada para elementos con submenues.
  * Se recomienda no usar aún.
  * TODO: Completar estilos para submenues.
  *
  */
  #menu li.drop:hover {
    padding-bottom:12px;
  }
  #menu li.drop>span {
    margin-bottom:5px;
  }

/************************************************************************************************
* Selectores, propiedades y estilos para un campo de búsqueda
*
* @section  search
*
*/
#buscar {
  display:inline;
  float:right;
  margin-top:4px;
}
#buscar input[name="q"] {
  background:#fff url("../images/sa_search_icon.jpg") 5px center no-repeat;
  padding:3px 0 3px 20px;
  -webkit-border-radius:15px;
  -moz-border-radius:15px;
  border-radius:15px;
  -moz-box-shadow:inset 0 1px 3px #ccc;
  -webkit-box-shadow:inset 0 1px 3px #ccc;
  box-shadow:inset 0 1px 3px #ccc;
  border:0;
  color:#808080;
  font-style:italic;
}

/************************************************************************************************
* Selectores, propiedades y estilos del contenedor principal de información
*
* @section  main-wrapper
*
*/
#main { /* section#main */
  padding:10px 0 20px;
  margin-bottom:20px;
  background-color:#fff !important;
  border:1px solid #a5aeb6;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  -moz-background-clip:padding;
  -webkit-background-clip:padding-box;
  background-clip:padding-box;
  overflow:hidden;
}
	
  /** Formato para titulos H1 */
	#main h1 {
	  margin-left:1%;
	  margin-right:1%;
	}
	
  /** Formato general de globos de alerta e información */
	div.exito, div.advertencia, div.info, div.error {
    margin-left:1%;
    margin-right:1%;
	  margin-bottom:20px;
	  padding:10px 30px 10px 35px !important;
	  -webkit-border-radius:3px !important;
	  -moz-border-radius:3px !important;
	  border-radius:3px !important;
    -moz-background-clip:padding;
    -webkit-background-clip:padding-box;
    background-clip:padding-box;
	  position:relative;
    background-position: 10px 11px !important;
    background-repeat:no-repeat !important;
    border-width:1px;
    border-style:solid;
	}

  /** Formato para parrafos de los globos */
	div.exito p, div.advertencia p, div.info p, div.error p {
	  margin-bottom:0;
	}
	
  /** Globo verde de operación exitosa */
	div.exito {
	  background-image:url("../images/accepted_16.png");
    background-color:#ebfcdf;
	  border-color:#5ba825 !important;
	}
		
  /** Globo amarillo de advertencia */
	div.advertencia {
	  background-image:url("../images/warning_16.png");
    background-color:#fbf9ee;
	  border-color:#fcefa1 !important;
	}

  /** Globo amarillo de información */
	div.info {
	  background-image:url("../images/blue_speech_16.png");
    background-color:#d7eaf8;
	  border-color:#136db5 !important;
	}
	
  /** Globo amarillo de error */
	div.error {
	  background-image:url("../images/cancel_16.png");
    background-color:#fef1ec;
	  border-color:#cd0a0a !important;
	}

    /** Formato para texto en negrita y texto small en cada globo */
    div.exito strong, div.exito small {
      color:#5ba825 !important;
    }
    div.info strong, div.info small {
      color:#136db5 !important;
    }
  	div.error strong, div.error small {
  	  color:#cd0a0a !important;
  	}
	
  /** Formato de cruz (X) de cierre de cada globo */
	div.exito span, div.advertencia span, div.info span, div.error span {
	  position:absolute !important;
	  top:5px !important;
	  right:5px !important;
	  cursor:pointer !important;
	  width:10px;
	  height:10px;
    background-position:top center !important;
    background-repeat:no-repeat !important;
	}
  	div.exito small, div.advertencia small, div.info small, div.error small {
  	  display:block;
  	  margin-right:-25px;
  	  margin-bottom:-5px;
  	}
	div.exito span {
	  background-image:url("../images/sa_alerta_success_close.jpg") !important;
	}
	div.advertencia span {
	  background-image:url("../images/sa_alerta_warning_close.jpg") !important;
	}
	div.info span {
	  background-image:url("../images/sa_alerta_info_close.jpg") !important;
	}
	div.error span {
	  background-image:url("../images/sa_alerta_error_close.jpg") !important;
	}
	
  /** 
  * Grupo de opciones en el titulo de la página
  * Se recomienda no usar aún: NO CONCLUIDO.
  * TODO: Completar estilos opciones en el titulo.
  */
	h1 ul.options {
	  font-size:.45em;
	  color:#8996a0 !important;
	  list-style:none;
    float:right;
    margin-top:15px;
	}
	ul.options li {
	  display:inline;
	  margin-right:10px;
	  padding-left:20px;
	}
	ul.options li:last-child {
	  margin-right:0;
	}
	ul.options li.filtro {
	  background:url("../images/filter_16.png") left center no-repeat !important;
	}
	ul.options li.imprimir {
	  background:url("../images/printer_16.png") left center no-repeat !important;
	}
			
  /************************************************************************************************
  * Selectores, propiedades y estilos para tab de links
  *
  * @section  tabs
  *
  */
	#tab {
	  margin-bottom:20px;
	  padding-bottom:5px;
	  border-bottom:1px solid #a5aeb6;
	}

  /** Estilos comunes para todas los tabs */
	#tab li {
	  display:inline;
	  margin:0 .25%;
	  padding:5px 10px;
	  font-size:1.1em;
	  font-weight:bold;
	  color:#394A59 !important;
	  background-color:#f2f2f2 !important;
	  border:1px solid #dfe5e6 !important;
	  border-bottom:1px solid #a5aeb6 !important;
	  -webkit-border-top-left-radius:5px;
	  -webkit-border-top-right-radius:5px;
	  -moz-border-radius-topleft:5px;
	  -moz-border-radius-topright:5px;
	  border-top-left-radius:5px !important;
	  border-top-right-radius:5px !important;
	  -moz-background-clip:padding;
	  -webkit-background-clip:padding-box;
	  background-clip:padding-box;
	  cursor:pointer;
	}

  /** Estilos para primer tab (first-child) y último tab (last-child) */
  #tab li:first-child {
    margin-left:0;
  }
  #tab li:last-child {
    margin-right:0;
  }

  /** Estilos para tab seleccionado */
	#tab li.selected {
	  font-size:1.2em;
	  color:#590B19 !important;
	  background-color:#fff !important;
	  border:1px solid #a5aeb6 !important;
	  border-bottom:1px solid #fff !important;
	  box-shadow:none;
	  cursor:default;
	}

/************************************************************************************************
* Selectores, propiedades y estilos para formularios.
* Los elementos de un formularios deberán estar contenidos dentro 
* de una lista no ordenada. De esta manera se asegura un consistencia
* visual del orden de los campos. Ej:
*
* <form>
*   <ul>
*     <li>
*       <label for="email">Email</label>
*       <input name="email" type="email" placeholder="nombre.correo@bauxilum.com.ve" />
*     </li>
*     <li>
*       <label for="password">Password</label>
*       <input name="email" type="password" placeholder="SuC0ntr453ñ4" />
*     </li>
*     <li>
*       <input name="enviar" type="submit" value="Enviar" />
*     </li>
*   </ul>
* </form>
*
* Está permitido el uso de clases y ID's en 'li'.
*
* @section  forms
*
*/
form ul {
  margin:0;
}
form li {
  list-style:none;
  margin-bottom:20px;
  margin-left:0;
}

/** Clase para llevar el tamaño de un input o select al 45% de su contenedor padre */
input.mediano, select.mediano {
  width:45%
}

/** Clase para llevar el tamaño de un input o select al 90% de su contenedor padre */
input.largo, select.largo {
  width:90%
}
	
/** Formato general para inputs de texto, select, contraseñas, fechas, tiempo, números, horas, áreas de texto, checkbox y radio buttons */
input[type="text"], select, input[type="password"], input[type="date"], input[type="time"], input[type="number"], input[type="hour"], textarea, input[type="checkbox"], input[input="radio"] {
  padding:5px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  border:1px solid #b2b2b2;
  background-image:-webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#fff)); /* Fondo degradado, según cada motor de navegador */
  background:-moz-linear-gradient(top, #f7f7f7, #fff);
  background:-o-linear-gradient(rgb(247, 247, 247),  rgb(255, 255, 255));
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#fff');
}

/** Sombra interna para inputs de texto, contraseñas, fechas, tiempo, números, horas y áreas de texto  */
input[type="text"], input[type="password"], input[type="date"], input[type="time"], input[type="number"], input[type="hour"], textarea {
  -moz-box-shadow:inset 0 1px 3px #ccc;
  -webkit-box-shadow:inset 0 1px 3px #ccc;
  box-shadow:inset 0 1px 3px #ccc;
}

/** Indicador visual de error en el campo  */
input[type="text"].hasError, input[type="password"].hasError, input[type="date"].hasError, input[type="time"].hasError, input[type="number"].hasError, input[type="hour"].hasError, textarea.hasError {
  border:1px solid #ff0000;
}
	
/** Formato general para botones  */
input[type="submit"], input[type="reset"], input[type="button"], button, div.boton {
  margin-right:10px;
  padding:5px 10px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  font-weight:bold;
  border-width:1px;
  border-style:solid;
  box-shadow:0 1px 1px #777;
  text-shadow:0px 1px 0px #fff;
  background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#d9d9d9));
  background:-moz-linear-gradient(top, #fff, #d9d9d9);
  background:-o-linear-gradient(rgb(255, 255, 255),  rgb(217, 217, 217));
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#d9d9d9');
  border-color:#999;
}

  /** Estilos para botones activos (mouse click) */
  input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active, button:active, div.boton:active {
    box-shadow:inset 0 0 7px #000;
    background:-webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#b3b3b3));
    background:-moz-linear-gradient(top, #f2f2f2, #b3b3b3);
    background:-o-linear-gradient(rgb(255, 255, 255),  rgb(179, 179, 179));
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#b3b3b3');
  }

/** Clase para 'minimizar' el tamaño por defecto de los botones  */
input[type="submit"].pequenio, input[type="reset"].pequenio, input[type="button"].pequenio, button.pequenio, div.boton.pequenio {
  font-size:.85em;
  padding:3px 5px;
}

/** Clase para botones verdes  */
input[type="submit"].green, input[type="button"].green, button.green, div.boton.green {
  color:#fff;
  text-shadow:0px -1px 0px #53682b;
  background:-webkit-gradient(linear, left top, left bottom, from(#79ba25), to(#006b0e));
  background:-moz-linear-gradient(top, #79ba25, #006b0e);
  background:-o-linear-gradient(rgb(121, 186, 37),  rgb(0, 107, 14));
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79ba25', endColorstr='#006b0e');
  border-color:#0f9400;
}

  /** Clase para botones verdes activos  */
  input.green:active, input[type="button"].green:active, button.green:active, div.boton.green:active {
    background:-webkit-gradient(linear, left top, left bottom, from(#55a51c), to(#417630));
    background:-moz-linear-gradient(top, #55a51c, #417630);
    background:-o-linear-gradient(rgb(85, 165, 28),  rgb(65, 118, 48));
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#55a51c', endColorstr='#417630');
  }

/** Clase para botones azules  */
input[type="submit"].blue, input[type="button"].blue, button.blue, div.boton.blue {
  color:#fff;
  text-shadow:0px -1px 0px #005195;
  background:-webkit-gradient(linear, left top, left bottom, from(#008df2), to(#005195));
  background:-moz-linear-gradient(top, #008df2, #005195);
  background:-o-linear-gradient(rgb(0, 141, 242), rgb(0, 81, 149));
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#008df2', endColorstr='#005195');
  border-color:#005195;
}

  /** Clase para botones azules activos  */
  input.blue:active, input[type="button"].blue:active, button.blue:active, div.boton.blue:active {
    background:-webkit-gradient(linear, left top, left bottom, from(#006cc9), to(#004987));
    background:-moz-linear-gradient(top, #006cc9, #004987);
    background:-o-linear-gradient(rgb(0, 108, 201), rgb(0, 73, 135));
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006cc9', endColorstr='#004987');
  }
	
/** Clase para botones en rojo (cancelar)  */
input[type="submit"].cancel, input[type="reset"].cancel, input[type="button"].cancel, button.cancel, div.boton.cancel {
  color:#fff;
  text-shadow:0px -1px 0px #460000;
  background:-webkit-gradient(linear, left top, left bottom, from(#ce2029), to(#73040b));
  background:-moz-linear-gradient(top, #ce2029, #73040b);
  background:-o-linear-gradient(rgb(206, 32, 41),  rgb(115, 4, 11));
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce2029', endColorstr='#73040b');
  border-color:#460000;
}

  /** Clase para botones en rojo (cancelar) activos  */
  input[type="submit"].cancel:active, input[type="reset"].cancel:active, input[type="button"].cancel:active, button.cancel:active {
    background:-webkit-gradient(linear, left top, left bottom, from(#941230), to(#4a090e));
    background:-moz-linear-gradient(top, #941230, #4a090e);
    background:-o-linear-gradient(rgb(148, 18, 48),  rgb(74, 9, 14));
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#941230', endColorstr='#4a090e');
  }
	
/** Estilos para inputs deshabilitados (atributo disabled="disabled")  */
input[disabled="disabled"][type="submit"], input[disabled="disabled"][type="reset"], input[disabled="disabled"][type="button"], button[disabled="disabled"] {
  background:#f2f2f2;
  border-color:#d9d9d9;
  color:#444;
  box-shadow:none;
  text-shadow:none;
  cursor:default;
}

/** Estilos para inputs deshabilitados (atributo disabled="disabled") y con mouse click  */
input[disabled="disabled"][type="submit"]:active, input[disabled="disabled"][type="reset"]:active, input[disabled="disabled"][type="button"]:active, button[disabled="disabled"]:active {
  box-shadow:none;
}

/** Estilos de background para inputs y selects deshabilitados (atributo disabled="disabled")  */
input[disabled="disabled"], select[disabled="disabled"] {
  background-color:#f2f2f2;
}
input[disabled="disabled"][type="submit"].hold, input[disabled="disabled"][type="reset"].hold, input[disabled="disabled"][type="button"].hold, button[disabled="disabled"].hold {
  background:#f2f2f2 url("../images/loading_20.gif") 3px center no-repeat;
  padding-left:35px;
}

/**
* Selectores, propiedades y estilos para notificaciones de error y 
* correccion de error a un lado del campo con error.
* A la fecha (11/10/2011) no está en uso.
*
*   <label for="email">Email</label>
*   <input name="email" type="email" placeholder="nombre.correo@bauxilum.com.ve" />
*   <span class="correcto">
*     <img src="images/sa_form_tooltip_success.jpg" />
*     <strong>Correcto:</strong> el valor introducido es correcto.
*   </span>
*
* Debe usarse de la mano con controles de Javascript basados en eventos.
*
*/

/**  Estilos de span que contiene el mensaje  */
input+span {
  font-size:0.769em;
  margin-left:20px;
  padding:3px 6px 3px 25px;
  position:relative;
  top:-2px;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  border-radius:2px;
}

/**  Estilos para imagen contigua al elemento que contiene el mensaje  */
input+span img {
  position:absolute;
  left:-10px;
  top:3px;
  z-index:100;
}

/**  Clase para mensajes con información correcta  */
span.correcto {
  background-color:#a9dc93;
  border:1px solid #3d9b35;
}

/**  Clase para mensajes con información incorrecta  */
span.incorrecto {
  background-color:#fef1ec;
  border:1px solid #cd0a0a;
}

  span.correcto strong {
    color:#417630;
  }
  span.incorrecto strong {
    color:#cd0a0a;
  }
  

/************************************************************************************************
* Selectores, propiedades y estilos para la barra lateral.
*
* @section  aside
*
*/

/**  Estilos para formato de titulos H3  */
aside h3 {
  margin-top:5px;
}

  /**  Estilos para formato de titulos H3 y que sean primer hijo del elemento padre  */
  aside h3:first-child {
    margin-top:0;
  }

/**  Estilos para formato de   */
aside .destacado {
  font-size:1.375em;
}
		
/************************************************************************************************
* Selectores, propiedades y estilos para fromato de tablas de datos.
* Afectan globalmente a las tablas, independientemente de su elemento padre.
*
* @section  tables
*
*/

/**  Formato general de tabla  */
table {
  margin-bottom:10px;
  font-size:.95em;
}

  /**  Estilos para formato de titulos de tabla (caption)  */
  table caption {
    text-align:left;
    font-size:1.25em;
    color:#1a2732;
    margin-bottom:10px;
  }

  /**  Estilos para formato de margen inferior de titulos H2 y H3  */
  table caption h2, table caption h3 {
    margin-bottom:0;
  }

  /**  Estilos para formato de tamaño de fuente de elementos small  */
  table caption small {
    font-size:.75em;
  }

  /**  Estilos para formato de cabecera de tabla (TH)  */
  th {
    background-color:#dfe5e6 !important;
    text-align:center;
    padding:5px !important;
    border-bottom:1px solid #a5aeb6 !important;
  }

  /**  Estilos para formato de filas de tabla  */
  tr {
    text-align:center;
    border-bottom:1px solid #dfe5e6 !important;
  }

    /**  Estilos para formato de filas impares de tabla  */
    tr:nth-child(odd) {
      background-color:#f2f2f2 !important;
    }

    /**  Estilos para formato de filas de tabla con mouse over  */
    tr:hover {
      background-color:#fbf9ee !important;
    }

  /**  Estilos para formato de columnas de tabla  */
  td {
    padding:3px;
    vertical-align:middle;
  }
  	
  /**  Estilos para formato de elementos de formularios (inputs, textarea, select, checkbox, radios, etc.) en tablas  */
  table input[type="text"], table select, input[type="password"], table textarea, table input[type="checkbox"], table input[input="radio"] {
    margin-bottom:0;
    padding:3px;
  }

/************************************************************************************************
* Estilos de tooltip tipsy.
* Se modificó el original para que concordará con los colores de la plantilla.
*
* @section  tipsy
* @see      src/stylesheets/tipsy.css at master from jaz303/tipsy - GitHub
*           https://github.com/jaz303/tipsy/blob/master/src/stylesheets/tipsy.css
*
*/
.tipsy{
  font-size:.8em;
  position:absolute;
  padding:5px;
  z-index:100000
}
.tipsy-inner{
  background-color:#590b19;
  color:#FFF;
  max-width:200px;
  padding:5px 8px 4px 8px;
  text-align:left;
  box-shadow:1px 1px 1px #666
}
.tipsy-inner{
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px
}
.tipsy-arrow{
  position:absolute;
  width:0;
  height:0;
  border:5px solid transparent
}
.tipsy-arrow-n{
  border-bottom-color:#590b19
}
.tipsy-arrow-s{
  border-top-color:#590b19
}
.tipsy-arrow-e{
  border-left-color:#590b19
}
.tipsy-arrow-w{
  border-right-color:#590b19
}
.tipsy-n .tipsy-arrow,.tipsy-nw .tipsy-arrow,.tipsy-ne .tipsy-arrow{
  top:0;
  border-top:0
}
.tipsy-s .tipsy-arrow,.tipsy-sw .tipsy-arrow,.tipsy-se .tipsy-arrow{
  bottom:0;
  border-bottom:0
}
.tipsy-n .tipsy-arrow,.tipsy-s .tipsy-arrow{
  left:50%;
  margin-left:-5px
}
.tipsy-nw .tipsy-arrow,.tipsy-sw .tipsy-arrow{
  left:10px
}
.tipsy-ne .tipsy-arrow,.tipsy-se .tipsy-arrow{
  right:10px
}
.tipsy-e .tipsy-arrow,.tipsy-w .tipsy-arrow{
  top:50%;
  margin-top:-5px
}
.tipsy-e .tipsy-arrow{
  right:0;
  border-right:0
}
.tipsy-w .tipsy-arrow{
  left:0;
  border-left:none
}

/************************************************************************************************
* Selectores, propiedades y estilos para impresión del documento.
* Parte de HTML5 Boilerplate.
*
* @section  media-query_print
*
*/
@media print {
	* {
	  background:transparent!important;
	  color:black!important;
	  text-shadow:none!important;
	  filter:none!important;
	  -ms-filter:none!important;
	}
	a, a:visited {
	  color:#444!important;
	  text-decoration:underline;
	}
	a[href]:after {
	  content:" (" attr(href) ")"}
	abbr[title]:after {
	  content:" (" attr(title) ")"}
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
	  content:""}
	pre, blockquote {
	  border:1px solid #999;
	  page-break-inside:avoid;
	}
	thead {
	  display:table-header-group;
	}
	tr, images {
	  page-break-inside:avoid;
	}
	@page {
	  margin:.5cm;
	}
	p, h2, h3 {
	  orphans:3;
	  widows:3;
	}
	h2, h3 {
	  page-break-after:avoid;
	}
}