/*
* Estilos principales
* 	Autor:	Carlos Betancourt C.
*	App:	Socialum
*	Fecha:	Mayo - Octubre, 2011
*/

/* Estilos globales */
body {
  background:url("../images/sa_body_bg.jpg") !important;
  overflow-x:hidden !important;
}
h1, h2, h3, h4, h5, h6  {
  font-weight:normal;
}
h1 {
  font-size:2.308em;
  line-height:1;
  color:#590b19;
  padding:0 0 9px 0;
  margin-top:10px;
  margin-bottom:20px;
  border-bottom:1px solid #dfe5e6;
}
h2 {
  font-size:1.846em;
  color:#394a59;
  margin-bottom:10px;
}
h3 {
  font-size:1.385em;
  line-height:1;
  text-transform:uppercase;
  color:#1a2732;
  padding-bottom:5px;
  margin-bottom:5px;
  border-bottom:1px solid #a5aeb6;
}
h4 {
  font-size:1.231em;
  line-height:1.25;
  margin-bottom:1.25em;
}
h5 {
  font-size:1.077em;
  font-weight:bold;
  margin-bottom:1.5em;
}
h6 {
  font-size:1em;
  font-weight:bold;
}
dl {
  margin-bottom:20px;
}
dl dt {
  font-weight:bold;
}
dd {
  margin-left:10px;
}

/* Placeholders */
::-webkit-input-placeholder {
  color:#ccc !important;
}
:-moz-placeholder {
  color:#ccc !important;
}

/* Titulos con iconos */
h1.hasIcono {
  padding-left:30px;
}
h1.login {
  background:url("../images/lock_24.png") left top no-repeat;
  color:#152f40;
}
h1.panel_conf {
  background:url("../images/tools_24.png") left top no-repeat;
}
h2.underlined {
  border-bottom:1px solid #8996A0;
}
h2.underlined:hover {
  border-bottom:1px solid #590b19;
}
h3 span {
  text-transform:lowercase;
}	

h1 small, h2 small, h3 small, h4 small, h5 small {
  color:#8996a0;
}
	
h1 small {
  font-size:.6em;
}

/* Clases */
.destacado {
  font-weight:bold;
  font-size:1.475em;
}  
.pequenio {
  font-size:.9em;
}
.grande {
  font-size:1.2em;
}
.oculto {
  display:none;
}
.fucsia {
  color:#ac1a2f !important;
}
.azul {
  color:#0e8cbf !important;
}
.verde {
  color:#0e7320 !important;
}
.dorado {
  color:#807b1c !important;
}
.morado {
  color:#740980 !important;
}
.rojo {
  color:#cc0000 !important;
}
.naranja {
  color:#F07B05 !important;
}
.amarillo {
  color:#FFB60F !important;
}
.gris {
  color:#8C8D8E !important;
}	
.caption {
  font-size:0.692em;
}
.tons {
  text-transform:uppercase;
  color:#8996a0;
}
.down {
  padding-right:10px;
  background:url(../images/sa_aside_icons_collapse_down.png) right center no-repeat !important;
}
.up {
  padding-right:10px;
   background:url(../images/sa_aside_icons_collapse_up.png) right center no-repeat !important;
}
.down, .up {
  cursor:pointer;
}
.down:hover, .up:hover {
  color:#590b19;
}
.down+* {
  display:none;
}

/* Section header */
#top_bar, header, #top_bar a {
  color:#fff !important;
}
	#top_bar {
	  height:15px !important;
	  padding-top:4px;
	  font-size:.692em;
	  background-color:#400812 !important;
	  border-bottom:1px solid #af292e !important;
	}
	#top_bar p {
	  margin-bottom:0;
	}
	#top_bar span {
	  padding-left:15px;
	}
	#top_bar a:link, #top_bar a:visited {
	  text-decoration:underline !important;
	}
	#top_bar a:hover, #top_bar a:active {
	  color:#af292e !important;
	}
	.configuracion {
	  background:url("../images/sa_icons_conf.png") left center no-repeat !important;
	}
	.ayuda {
	  background:url("../images/sa_icons_ayuda.png") left center no-repeat !important;
	}
	.persona {
	  background:url("../images/sa_icons_person.png") left center no-repeat !important;
	}
	.logout {
	  background:url("../images/sa_icons_logout.png") left center no-repeat !important;
	}	
header {
  background:url("../images/sa_header_bg.jpg") repeat-x !important;
}
header h1 {
  font-size:3.692em;
  padding:0;
  margin-bottom:0;
  border:0;
  line-height:0;
}
header ul {
  list-style:none;
  margin-top:11px;
  margin-left:0;
  float:right;
}
header li {
  display:inline;
}

/* Login layout */	
#login {
  position:absolute;
  top:50%;
  left:50%;
  height:328px;
  width:408px;
  margin-top:-175px;
  margin-left:-205px;
  background-color:#fff;
  border:1px solid #a5aeb6;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  -moz-background-clip:padding;
  -webkit-background-clip:padding-box;
  background-clip:padding-box;
}
	#login header {
	  margin-bottom:20px;
	  border-bottom:1px solid #af292e;
	  -webkit-border-top-left-radius:3px;
	  -webkit-border-top-right-radius:3px;
	  -moz-border-radius-topleft:3px;
	  -moz-border-radius-topright:3px;
	  border-top-left-radius:3px;
	  border-top-right-radius:3px;
	}

	#login .logo {
	  padding-top:2px;
	  padding-bottom:0;
	  background-position:center top;
	}

	#login h1 {
	  font-size:1.3em;
	  margin-left:10px;
	  margin-right:10px;
	}
	#login form {
	  margin:0 10px;
	}
	#login li {
	  margin-bottom:15px;
	}
	#login label {
	  display:inline-block;
	  width:80px;
	  text-align:right;
	  margin-right:10px;
	}
	#login input[type="checkbox"] {
	  margin-left:93px;
	  margin-right:5px;
	}
	#login input[type="checkbox"]+label {
	  width:auto;
	  text-align:left;
	  display:inline;
	}

/* Menu principal */		
#menu {
  height:28px;
  color:#a5aeb6 !important;
  font-size:.923em !important;
  margin-bottom:20px;
  background-color:#152f40 !important;
  border-top:1px solid #394a59;
  border-bottom:1px solid #394a59;
  -moz-box-shadow:0 2px 3px #b3b3b3;
  -webkit-box-shadow:0 2px 3px #b3b3b3;
  box-shadow:0 2px 3px #b3b3b3;
}
	#menu ul {
	  list-style:none !important;
	  margin-top:1px;
	  position:relative;
	}
	#menu li {
	  display:inline-block !important;
	  margin:0 5px;
	  padding:7px 5px 7px 19px;
	  cursor:pointer;
	  position:relative;
	  float:left;
	}
	#menu a:link, #menu a:visited {
	  color:#a5aeb6 !important;
	  text-decoration:none;
	}
	#menu a:hover {
	  color:#152f40 !important;
	}
	#menu li:hover:not(.activo) {
	  background:#dfe5e6;
	  padding:6px 5px 3px 23px;
	  margin:2px 5px 0;
	  -moz-border-radius:3px;
	  -webkit-border-radius:3px;
	  border-radius:3px;
	  -moz-background-clip:padding;
	  -webkit-background-clip:padding-box;
	  background-clip:padding-box;
	  box-shadow:0 2px 3px rgba(0, 0, 0, .25) !important;
	}
	#menu li:hover a, #menu li:hover:not(.activo) {
	  color:#152f40 !important;
	}
	#menu li.drop:hover {
	  padding-bottom:12px;
	}
	#menu li.drop>span {
	  margin-bottom:5px;
	}
	#menu .flecha {
	  display:none;
	}
		
	#menu .activo, #menu .activo:hover, #menu .activo a:link, #menu .activo a:visited {
	  color:#7a2426 !important;
	}
	#menu .activo {
	  margin-top:0;
	  margin:-3px 5px -4px;
	  padding:7px 10px 9px 29px;
	  font-size:1.077em;
	  font-weight:bold;
	  text-shadow:0 1px 0 #fff;
	  background:#dfe5e6;
	  border:1px solid #a5aeb6 !important;
	  -moz-border-radius:3px;
	  -webkit-border-radius:3px;
	  border-radius:3px;
	  -moz-background-clip:padding;
	  -webkit-background-clip:padding-box;
	  background-clip:padding-box;
	  position:relative;
	}
	#menu .activo:hover {
	  background:#dfe5e6;
	  text-decoration:underline;
	}
		
	#menu li>span {
	  padding-left:18px;
	}
		
	#menu .activo .flecha {
	  display:inline;
	  padding:0;
	  position:absolute;
	  bottom:-7px;
	  left:46%;
	  border-left:7px solid transparent;
	  border-right:7px solid transparent;
	  border-top:7px solid #dfe5e6 !important
	}
	#buscar {
	  display:inline;
	  float:right;
	  margin-top:4px;
	}
	#buscar input[name="q"] {
	  background:#fff url("../images/sa_search_icon.jpg") 5px center no-repeat;
	  padding:3px 0 3px 20px;
	  -webkit-border-radius:15px;
	  -moz-border-radius:15px;
	  border-radius:15px;
	  -moz-box-shadow:inset 0 1px 3px #ccc;
	  -webkit-box-shadow:inset 0 1px 3px #ccc;
	  box-shadow:inset 0 1px 3px #ccc;
	  border:0;
	  color:#808080;
	  font-style:italic;
	}

/* Contenedor principal */
#main {
  padding:10px 0;
  margin-bottom:20px;
  background-color:#fff !important;
  border:1px solid #a5aeb6;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  -moz-background-clip:padding;
  -webkit-background-clip:padding-box;
  background-clip:padding-box;
  overflow:hidden;
}
	
	h1, div.exito, div.advertencia, div.info, div.error {
	  margin-left:1%;
	  margin-right:1%}
	article h1, aside h1 {
	  margin-left:0;
	  margin-right:0;
	}
			
	div.exito, div.advertencia, div.info, div.error {
	  margin-bottom:20px;
	  padding:10px 30px 10px 35px !important;
	  -webkit-border-radius:3px !important;
	  -moz-border-radius:3px !important;
	  border-radius:3px !important;
	  position:relative;
	}
	div.exito p, div.advertencia p, div.info p, div.error p {
	  margin-bottom:0;
	}
			
	div.exito {
	  background:#ebfcdf url("../images/accepted_16.png") 10px 11px no-repeat !important;
	  border:1px solid #5ba825 !important;
	}
	div.exito strong, div.exito small {
	  color:#5ba825 !important;
	}
			
	div.advertencia {
	  background:#fbf9ee url("../images/warning_16.png") 10px 11px no-repeat !important;
	  border: 1px solid #fcefa1 !important;
	}
		
	div.info {
	  background:#d7eaf8 url("../images/blue_speech_16.png") 10px 11px no-repeat !important;
	  border:1px solid #136db5 !important;
	}
	div.info strong, div.info small {
	  color:#136db5 !important;
	}
			
	div.error {
	  background:#fef1ec url("../images/cancel_16.png") 10px 11px no-repeat !important;
	  border:1px solid #cd0a0a !important;
	}
	div.error strong, div.error small {
	  color:#cd0a0a !important;
	}
		
	div.exito span, div.advertencia span, div.info span, div.error span {
	  position:absolute !important;
	  top:5px !important;
	  right:5px !important;
	  cursor:pointer !important;
	  width:10px;
	  height:10px;
	}
	div.exito small, div.advertencia small, div.info small, div.error small {
	  display:block;
	  margin-right:-25px;
	  margin-bottom:-5px;
	}
	div.exito span {
	  background:url("../images/sa_alerta_success_close.jpg") top center no-repeat !important;
	}
	div.advertencia span {
	  background:url("../images/sa_alerta_warning_close.jpg") top center no-repeat !important;
	}
	div.info span {
	  background:url("../images/sa_alerta_info_close.jpg") top center no-repeat !important;
	}
	div.error span {
	  background:url("../images/sa_alerta_error_close.jpg") top center no-repeat !important;
	}
		
	h1 ul.options {
	  font-size:.45em;
	  color:#8996a0 !important;
	  list-style:none;
    float:right;
    margin-top:15px;
	}
	ul.options li {
	  display:inline;
	  margin-right:10px;
	  padding-left:20px;
	}
	ul.options li:last-child {
	  margin-right:0;
	}
	ul.options li.filtro {
	  background:url("../images/filter_16.png") left center no-repeat !important;
	}
	ul.options li.imprimir {
	  background:url("../images/printer_16.png") left center no-repeat !important;
	}
			
	/* Tabs */
	#tab {
	  margin-bottom:20px;
	  padding-bottom:5px;
	  border-bottom:1px solid #a5aeb6;
	}

	#tab li {
	  display:inline;
	  margin:0 .25%;
	  padding:5px 10px;
	  font-size:1.1em;
	  font-weight:bold;
	  color:#394A59 !important;
	  background-color:#f2f2f2 !important;
	  border:1px solid #dfe5e6 !important;
	  border-bottom:1px solid #a5aeb6 !important;
	  -webkit-border-top-left-radius:5px;
	  -webkit-border-top-right-radius:5px;
	  -moz-border-radius-topleft:5px;
	  -moz-border-radius-topright:5px;
	  border-top-left-radius:5px !important;
	  border-top-right-radius:5px !important;
	  -moz-background-clip:padding;
	  -webkit-background-clip:padding-box;
	  background-clip:padding-box;
	  cursor:pointer;
	}
	#tab li.selected {
	  font-size:1.2em;
	  color:#590B19 !important;
	  background-color:#fff !important;
	  border:1px solid #a5aeb6 !important;
	  border-bottom:1px solid #fff !important;
	  box-shadow:none;
	  cursor:default;
	}
	#tab li:first-child {
	  margin-left:0;
	}
	#tab li:last-child {
	  margin-right:0;
	}

	/* Formularios */		
	form ul {
	  margin:0;
	}
	form li {
	  list-style:none;
	  margin-bottom:20px;
	  margin-left:0;
	}
	input.mediano, select.mediano {
	  width:45%}
	input.largo, select.largo {
	  width:90%}
		
	input[type="text"], select, input[type="password"], input[type="date"], input[type="time"], input[type="number"], input[type="hour"], textarea, input[type="checkbox"], input[input="radio"] {
	  padding:5px;
	  -webkit-border-radius:3px;
	  -moz-border-radius:3px;
	  border-radius:3px;
	  border:1px solid #b2b2b2;
	  background-image:-webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#fff));
	  background:-moz-linear-gradient(top, #f7f7f7, #fff);
	  background:-o-linear-gradient(rgb(247, 247, 247),  rgb(255, 255, 255));
	  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#fff');
	}
	input[type="text"], input[type="password"], input[type="date"], input[type="time"], input[type="number"], input[type="hour"], textarea {
	  -moz-box-shadow:inset 0 1px 3px #ccc;
	  -webkit-box-shadow:inset 0 1px 3px #ccc;
	  box-shadow:inset 0 1px 3px #ccc;
	}

    input[type="text"].hasError, input[type="password"].hasError, input[type="date"].hasError, input[type="time"].hasError, input[type="number"].hasError, input[type="hour"].hasError, textarea.hasError {
      border:1px solid #ff0000;
    }
		
	input[type="submit"], input[type="reset"], input[type="button"], button {
	  margin-right:10px;
	  padding:5px 10px;
	  -webkit-border-radius:3px;
	  -moz-border-radius:3px;
	  border-radius:3px;
	  font-weight:bold;
	  border-width:1px;
	  border-style:solid;
	  box-shadow:0 1px 1px #777;
	  text-shadow:0px 1px 0px #fff;
	  background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#d9d9d9));
	  background:-moz-linear-gradient(top, #fff, #d9d9d9);
	  background:-o-linear-gradient(rgb(255, 255, 255),  rgb(217, 217, 217));
	  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#d9d9d9');
	  border-color:#999;
	}
	input[type="submit"].pequenio, input[type="reset"].pequenio, input[type="button"].pequenio, button.pequenio {
	  font-size:.85em;
	  padding:3px 5px;
	}
	input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active, button:active {
	  box-shadow:inset 0 0 7px #000;
	  background:-webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#b3b3b3));
	  background:-moz-linear-gradient(top, #f2f2f2, #b3b3b3);
	  background:-o-linear-gradient(rgb(255, 255, 255),  rgb(179, 179, 179));
	  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#b3b3b3');
	}
		
	input[type="submit"].green, input[type="button"].green, button.green {
	  color:#fff;
	  text-shadow:0px -1px 0px #53682b;
	  background:-webkit-gradient(linear, left top, left bottom, from(#79ba25), to(#006b0e));
	  background:-moz-linear-gradient(top, #79ba25, #006b0e);
	  background:-o-linear-gradient(rgb(121, 186, 37),  rgb(0, 107, 14));
	  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79ba25', endColorstr='#006b0e');
	  border-color:#0f9400;
	}
	input.green:active, input[type="button"].green:active, button.green:active {
	  background:-webkit-gradient(linear, left top, left bottom, from(#55a51c), to(#417630));
	  background:-moz-linear-gradient(top, #55a51c, #417630);
	  background:-o-linear-gradient(rgb(85, 165, 28),  rgb(65, 118, 48));
	  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#55a51c', endColorstr='#417630');
	}
		
	input[type="submit"].blue, input[type="button"].blue, button.blue {
	  color:#fff;
	  text-shadow:0px -1px 0px #005195;
	  background:-webkit-gradient(linear, left top, left bottom, from(#008df2), to(#005195));
	  background:-moz-linear-gradient(top, #008df2, #005195);
	  background:-o-linear-gradient(rgb(0, 141, 242), rgb(0, 81, 149));
	  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#008df2', endColorstr='#005195');
	  border-color:#005195;
	}
	input.blue:active, input[type="button"].blue:active, button.blue:active {
	  background:-webkit-gradient(linear, left top, left bottom, from(#006cc9), to(#004987));
	  background:-moz-linear-gradient(top, #006cc9, #004987);
	  background:-o-linear-gradient(rgb(0, 108, 201), rgb(0, 73, 135));
	  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006cc9', endColorstr='#004987');
	}
						
	input[type="submit"].cancel, input[type="reset"].cancel, input[type="button"].cancel, button.cancel {
	  color:#fff;
	  text-shadow:0px -1px 0px #460000;
	  background:-webkit-gradient(linear, left top, left bottom, from(#ce2029), to(#73040b));
	  background:-moz-linear-gradient(top, #ce2029, #73040b);
	  background:-o-linear-gradient(rgb(206, 32, 41),  rgb(115, 4, 11));
	  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce2029', endColorstr='#73040b');
	  border-color:#460000;
	}
	input[type="submit"].cancel:active, input[type="reset"].cancel:active, input[type="button"].cancel:active, button.cancel:active {
	  background:-webkit-gradient(linear, left top, left bottom, from(#941230), to(#4a090e));
	  background:-moz-linear-gradient(top, #941230, #4a090e);
	  background:-o-linear-gradient(rgb(148, 18, 48),  rgb(74, 9, 14));
	  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#941230', endColorstr='#4a090e');
	}
		
	input[disabled="disabled"][type="submit"], input[disabled="disabled"][type="reset"], input[disabled="disabled"][type="button"], button[disabled="disabled"] {
	  background:#f2f2f2;
	  border-color:#d9d9d9;
	  color:#444;
	  box-shadow:none;
	  text-shadow:none;
	  cursor:default;
	}
	input[disabled="disabled"][type="submit"]:active, input[disabled="disabled"][type="reset"]:active, input[disabled="disabled"][type="button"]:active, button[disabled="disabled"]:active {
	  box-shadow:none;
	}

	input[disabled="disabled"], select[disabled="disabled"] {
	  background-color:#f2f2f2;
	}
	input[disabled="disabled"][type="submit"].hold, input[disabled="disabled"][type="reset"].hold, input[disabled="disabled"][type="button"].hold, button[disabled="disabled"].hold {
	  background:#f2f2f2 url("../images/loading_20.gif") 3px center no-repeat;
	  padding-left:35px;
	}
				
	input+span {
	  font-size:0.769em;
	  margin-left:20px;
	  padding:3px 6px 3px 25px;
	  position:relative;
	  top:-2px;
	  -webkit-border-radius:2px;
	  -moz-border-radius:2px;
	  border-radius:2px;
	}
	input+span img {
	  position:absolute;
	  left:-10px;
	  top:3px;
	  z-index:100;
	}
	span.correcto {
	  background-color:#a9dc93;
	  border:1px solid #3d9b35;
	}
	span.correcto strong {
	  color:#417630;
	}
	span.incorrecto {
	  background-color:#fef1ec;
	  border:1px solid #cd0a0a;
	}
	span.incorrecto strong {
	  color:#cd0a0a;
	}
	/* Barra lateral */
	aside h3 {
	  margin-top:5px;
	}
	aside div+h3:first-child {
	  margin-top:0;
	}
	aside .destacado {
	  font-size:1.375em;
	}
			
	/* Tablas */	
	table {
	  margin-bottom:10px;
	  -moz-border-radius:3px;
	  -webkit-border-radius:3px;
	  border-radius:3px;
	  -moz-background-clip:padding;
	  -webkit-background-clip:padding-box;
	  background-clip:padding-box;
	}
	table, table+p {
	  font-size:.95em;
	}
	table caption {
	  text-align:left;
	  font-size:1.25em;
	  color:#1a2732;
	  margin-bottom:10px;
	}
	table caption h2 {
	  margin-bottom:0;
	}
	table caption small {
	  font-size:.75em;
	}
	th {
	  background-color:#dfe5e6 !important;
	  text-align:center;
	  padding:5px;
	  border-bottom:1px solid #a5aeb6 !important;
	}
	tr {
	  text-align:center;
	  border-bottom:1px solid #dfe5e6 !important;
	}
	tr:nth-child(odd) {
	  background-color:#f2f2f2 !important;
	}
	tr:hover {
	  background-color:#fbf9ee !important;
	}
	td {
	  padding:3px;
	  vertical-align:middle;
	}
			
	table input[type="text"], table select, input[type="password"], table textarea, table input[type="checkbox"], table input[input="radio"] {
	  margin-bottom:0;
	  padding:3px;
	}

.ir {
  display:block;
  text-indent:-999em;
  overflow:hidden;
  background-repeat:no-repeat;
  text-align:left;
  direction:ltr;
}
.hidden {
  display:none;
  visibility:hidden;
}
.visuallyhidden {
  border:0;
  clip:rect(0 0 0 0);
  height:1px;
  margin:-1px;
  overflow:hidden;
  padding:0;
  position:absolute;
  width:1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip:auto;
  height:auto;
  margin:0;
  overflow:visible;
  position:static;
  width:auto;
}
.invisible {
  visibility:hidden;
}
.clearfix:before, .clearfix:after {
  content:"\0020";
  display:block;
  height:0;
  overflow:hidden;
}
.clearfix:after {
  clear:both;
}
.clearfix {
  zoom:1;
}

@media print {
	* {
	  background:transparent!important;
	  color:black!important;
	  text-shadow:none!important;
	  filter:none!important;
	  -ms-filter:none!important;
	}
	a, a:visited {
	  color:#444!important;
	  text-decoration:underline;
	}
	a[href]:after {
	  content:" (" attr(href) ")"}
	abbr[title]:after {
	  content:" (" attr(title) ")"}
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
	  content:""}
	pre, blockquote {
	  border:1px solid #999;
	  page-break-inside:avoid;
	}
	thead {
	  display:table-header-group;
	}
	tr, images {
	  page-break-inside:avoid;
	}
	@page {
	  margin:.5cm;
	}
	p, h2, h3 {
	  orphans:3;
	  widows:3;
	}
	h2, h3 {
	  page-break-after:avoid;
	}
}