<h1>Listing empleados</h1>

<table>
  <tr>
    <th>Estado</th>
    <th>Nombre empleado</th>
    <th>Usuario id created</th>
    <th>Usuario id updated</th>
  </tr>

<% @empleados.each do |empleado| %>
  <tr>
    <td><%=h empleado.numero_personal %></td>
    <td><%=h empleado.nombres + ' ' + empleado.apellidos %></td>
    <td><%=h empleado.descrip_gerencia + ', ' + empleado.descrip_unidad %></td>
    <td><%= link_to 'Show', empleado %></td>
  </tr>
<% end %>
</table>
