<h1>Empleado#show</h1>
<p><%=h @empleado.numero_personal %></p>
<p><%=h @empleado.nombres + ' ' + @empleado.apellidos %></p>
<p><%=h @empleado.descrip_gerencia + ', ' + @empleado.descrip_unidad %></p>
