        <tr class="nuevo_estado">
          <td usuario_id_created="<%= current_usuario.ficha %>" usuario_id_updated="<%= nil %>">
            <%= text_field_tag :desc_estado, nil, :placeholder => 'Nombre de estado' %>          
          </td>            
          <td>
            <%= link_to image_tag('close_16.png', :alt => 'Cancelar', :title => 'Cancelar'), '#delete_estado' %>
          </td>
        </tr>
