    <article class="grid_24">
      <h1>Estados</h1>
      <table>
        <tr>
          <th>Desc estado</th>
        </tr>
        <% @estados.each do |estado| %>
        <tr>
          <td><%= link_to estado.desc_estado, estado %></td>
          <td><%= link_to 'Edit', edit_estado_path(estado) %></td>
          <td><%= link_to 'Destroy', estado, :confirm => 'Are you sure?', :method => :delete %></td>
        </tr>
        <% end %>
      </table>
      <p><%= link_to 'New estado', new_estado_path %></p>
    </article>  
    <div class="clearfix"></div>
